* {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/

body {
	width: 100vw;
	height: 100vh;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 10px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 20px;
}
  
#myBtn:hover {
    background-color:#131313;
    border: 2px solid blue;
}
/*-----------------------------------------------*/
/*----------------- HEADER ----------------------*/

.header {
    height: 100vh;
    width: 100%;
    background-image: url(Images/BG02.JPG);
    background-size: cover;
    background-position: center;
}
.logo{
    color: white;
    font-size: 40px;
    letter-spacing: 5px;
    cursor: pointer;
    padding-top: 45px;
    padding-left: 8%;
}
span{
    color:blue;
}
/*-----------------------------------------------*/
/*----------------- NAVIGATION ------------------*/

.sidenav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 20px;
    float: right;
    margin-top: -75px;
}
.sidenav a {
    color: white;
    padding-top: 10px;
    padding-right: 65px;
    border-radius: 7px;
    text-decoration: none;
    margin-right: -25px;
    font-weight: bold;
    text-transform: capitalize;
}
.sidenav :hover {
    color: blue;
    transition: .4s;
}
/*-----------------------------------------------*/
/*------------------- MAIN ----------------------*/

.container1 {
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translate(-50%);
}
.content1 h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.content1 h2 {
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: white;
}
.content1 h3 {
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: white;
}
.content1 h4 {
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}
/*-----------------------------------------------*/
/*----------------- ABOUT -----------------------*/

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #131313;
}
.about img{
    height: auto;
    width:270px;
    border-radius: 25px;
    margin-bottom: 100px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1 {
    color: white;
    padding-bottom: 30px;
    font-size: 2.5em;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about p {
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: blue;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 25px;
    transition: .4s;
    margin-bottom: 100px;
}
button:hover{
    background-color: transparent;
    border: 2px solid blue;
    cursor: pointer;
}
/*-----------------------------------------------*/
/*----------------- WORK ------------------------*/

.portfolio{
    background-color: black;
    width: 100%;
    padding: 100px 0px;
}
.tittle h2{
    color: white;
    font-size: 2.5em;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #131313;
    border-radius: 25px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
h5{
    color: blue;
    font-size: 20px;
    margin-bottom: 15px;
}
.pra p{
    color: white;
    font-size: 10px;
    line-height: 27px;
    margin-bottom: 25px;
}
.pra img{
    width: auto;
    height: 230px;
    margin-bottom: 15px;
    border-radius: 15px;
}
.card .button{
    background-color: blue;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid blue;
    cursor: pointer;
}
/*------------------SKILLS-----------------*/
/*-----------------------------------------*/
.skills-content{
    background-color: #131313;
    width: 100%;
    height: auto;
    display:grid;
    align-items: center;
    justify-content: center;
}
.heading1 h1{
    text-align: center;
    font-size: 2.5em;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}
.skills{
    background-color: rgba(0, 0, 255, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 100px;
}
.skills h2{
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
}
.progress-bar{
    background: black;
    width: 350px;
    height: 10px;
    border-radius: 5px;
}
.progress-bar div{
    height: 10px;
    border-radius: 5px;
    width: 0%;
}
.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #131313;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.illustrator{
    background-color: blue;
    animation: illustrator 1s linear forwards;
}
.photoshop{
    background-color: blue;
    animation: photoshop 1s linear forwards;
}
.after_effects{
    background-color: blue;
    animation: after_effects 1s linear forwards;
}
.html{
    background-color: blue;
    animation: html 1s linear forwards;
}
.css{
    background-color: blue;
    animation: css 1s linear forwards;
}
.python{
    background-color: blue;
    animation: python 1s linear forwards;
}
.illustrator span{
    border: 1px solid blue;
}
.photoshop span{
    border: 1px solid blue;
}
.after_effects span{
    border: 1px solid blue;
}
.html span{
    border: 1px solid blue;
}
.css span{
    border: 1px solid blue;
}
.python span{
    border: 1px solid blue;
}
@keyframes illustrator{
    100%{
        width: 85%;
    }
}
@keyframes photoshop{
    100%{
        width: 80%;
    }
}
@keyframes after_effects{
    100%{
        width: 75%;
    }
}
@keyframes html{
    100%{
        width: 90%;
    }
}
@keyframes css{
    100%{
        width: 75%;
    }
}
@keyframes python{
    100%{
        width: 60%;
    }
}
/*----------------CONTACT-ME---------------*/
/*-----------------------------------------*/
section{
    padding: 40px 15%;
}
.contact{
    background-color: black;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 6rem;
}
.contact-img img{
    max-width: 100%;
    width: 400px;;
    height: auto;
    border-radius: 25px;
    margin-top: 2em;
    margin-bottom: 100px;
}
.contact-form h1{
    font-size: 2.5em;
    color: white;
    margin-top: -2em;
    margin-bottom: 10px;
}
span{
    color: blue;
}
.contact-form p{
    color: white;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 1.5em;
}
.contact-form form{
    position: relative;
}
.contact-form form input, form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 255, 0.2);
    color: white;
    font-size: 0.7rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}
.contact-form textarea{
    resize: none;
    height: 200px;
}
.contact-form form .btn{
    display: inline-block;
    background-color: rgba(0, 0, 255, 0.2);
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 50px;
    width: 150px;
    transition: ease .20s;
    cursor: pointer;
}
.contact-form form .btn:hover{
    border: 2px solid blue;
    background: transparent;
    transform: scale(1.1);
}
/*-----------------------------------------------*/
/*------------------ FOOTER ---------------------*/

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#131313;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    padding-bottom: 40px;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0 3em 0;
}
.socials li{
    margin: 0 15px;
}
.socials a{
    text-decoration: none;
    color: white;
}
.socials a i{
    font-size: 1.5em;
    transition: color .4s ease;
}
.socials a:hover i{
    color: blue;
    transform: scale(1.1);
}
/*-------------------------------------------------------------------*/
/*------------------ RESPONSIIVE-FOR-MOBILE -------------------------*/

@media screen and (max-width: 400px) {

/*-------------------------- HEADER ---------------------------------*/

/*-------------------------- ABOUT ----------------------------------*/

/*-------------------------- WORK -----------------------------------*/

/*------------------------- CONTACT ---------------------------------*/

/*------------------------- FOOTER ----------------------------------*/
}

 


